<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parcial_ordinario_2_2535192017_2508562017">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
